.coffe-information-container {
  display: flex;

  img {
    max-width: 4rem;
    max-height: 4rem;
    object-fit: contain;
  }
  .type-and-quantity {
    display: flex;
    flex-direction: column;
    h6 {
      font-size: 1rem;
      font-weight: 400;
      color: var(--base-subtitle);
    }
  }
}
